<header class="mt-8 py-4 text-base">
  <div class="max-w-screen-lg mx-auto px-4">
    <div class="flex flex-col gap-4 mb-2 py-6">
      <div class="flex gap-4">
        <a href="/" target="_blank" aria-label="Visit Datastar website">
          <img src="/images/rocket.webp" alt="Datastar logo" class="h-[40px] w-[40px]">
        </a>
        <a
          href="https://github.com/elfaralfreds/DatastarAndFastEndpointsExamples"
          target="_blank"
          aria-label="Visit Elfar's GitHub profile"
        >
          <img src="/images/elfar.jpg" alt="Profile" class="h-[40px] w-[40px] rounded-full">
        </a>
        <a href="/" style="text-decoration: none; cursor: pointer; color: #fff;">
            <h1 class="text-3xl">.NET Core examples with Datastar and FastEndpoints</h1>
        </a>
      </div>
    </div>
    <p class="text-2xl leading-10">
        The hypermedia framework • Scale up from simple to real-time web apps
    </p>
  </div>
</header>
